				<li>
                    <a ui-sref="manager"><span class="ti-layout-tab-window menu-icon"></span>Tableau de bord</a>
                </li>
                <li>
                    <a ui-sref="manager.demandeBips"><span class="ti-user menu-icon"></span>Demande de Bips</a>
                </li>
                <!-- <li>
                    <a ui-sref="manager.archive" ><span class="ti-eye menu-icon"></span>Archive des Fiches </a>
                </li> -->
                <li>
                    <a  ui-sref="manager.collaborateurs" ><span class="ti-id-badge menu-icon"></span>Mes Collaborateurs</a>
                </li>
                