				<li>
                    <a href="#"><span class="ti-layout-tab-window menu-icon"></span>Tableau de bord</a>
                </li>
                <li>
                    <a href="#"><span class="ti-user menu-icon"></span>Gestion des collaborateurs</a>
                </li>
                <li>
                    <a href="#"><span class="ti-eye menu-icon"></span>Gestion des Encadrants</a>
                </li>
                <li>
                    <a href="#"><span class="ti-id-badge menu-icon"></span>Gestion des Managers RH</a>
                </li>
                <li>
                    <a href="#"><span class="ti-settings menu-icon"></span>Configuration</a>
                </li>
                <li>
                    <a href="#"><span class="ti-server menu-icon"></span>Exporter/importer</a>
                </li>