<div class="col-md-12  content">
  <div class="jumbotron">


    <h3>Collaborateur :  </h3>
    <br>
    <div class="col-md-6">
      <div class="well well-sm bg-light">
        <div class="row">
          <div class="col-md-3"><h4>Nom : </h4></div> <div class="col-md-9 pull-right "><h4  class="black-text">{{bap.collaborateur.nom}}</h4></div>
        </div>
        <div class="row">
          <div class="col-md-3"><h4>Prenom : </h4></div> <div class="col-md-9 pull-right "><h4 class="black-text">{{bap.collaborateur.prenom}}</h4></div>
        </div>
        <div class="row">
          <div class="col-md-3"><h4>Email : </h4></div> <div class="col-md-9 pull-right "><h4 class="black-text">{{bap.collaborateur.email}}</h4></div>
        </div>
      </div>

    </div>
    <div class="col-md-6">


      <div class="row">
        <div class="well well-sm bg-light center-block">
          <h5>Actions :</h5>
          <div class="col-md-4 center-block ">
            <a ui-sref="manager.fiches({ id : bap.collaborateur.id })" class="btn btn-default">Archive de Fiches</a>
          </div>
          <div class="col-md-4 center-block">
            <a ui-sref="manager.bip({ id : bap.collaborateur.id })" class="btn btn-warning">Créer un Bip</a>
          </div>
          <div class="col-md-4 center-block">
            <a class="btn btn-primary">Imprimer Fiche</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="well well-sm bg-light center-block">
          <h5>Bap :</h5>
          <div class="col-md-4 center-block ">
           Date : 2015/12/21
         </div>
         <div class="col-md-4 center-block">
          Etat : {{bap.statut}}
        </div>
        <div class="col-md-4 center-block">
          <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="" ng-click="initValiderBap(bap)"  >Valider</a></li>
              <li><a ng-click="initPreparerBap(bap)" href="" >Modifier</a></li>

            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

</div>

</div>


</div>




<!-- modals -->

<!-- modification Bap modal  -->

<div class="modal fade bs-example-modal-lg" id="BapModal2"  data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div id="step2_1">
        <div class="modal-header">
          <button type="button" class="close" ng-click="modalDissmiss()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">configuration des poids des objectifs et affectation des encadrant/responsable pour l'evaluation : </h4>
        </div>
        <div class="modal-body">



          <div>
            <h5>{{bapToPrepare.collaborateur.nom}} {{bapToPrepare.collaborateur.prenom}} :</h5>
            <table class="table  table-bordered  table-striped" >
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Mesure</th>
                  <th>Avancement</th>
                  <th>Responsable / Encadrant</th>
                  <th>Poid</th>
                </tr>
              </thead>
              <tbody>
                <tr   ng-repeat="evaluation in bapToPrepare.ficheEvaluations.evaluations">


                  <td >{{evaluation.objectif.descriptionObjectif}}</td> 
                  <td >{{evaluation.objectif.mesureObjectif}}</td> 
                  <td ><div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{evaluation.objectif.avancementObjectif}}" aria-valuemin="0" aria-valuemax="100" style="width: {{evaluation.objectif.avancementObjectif}}%;">
                      {{evaluation.objectif.avancementObjectif}}%
                    </div>
                    <td> {{evaluation.encadrant.nom}} {{evaluation.encadrant.prenom}} </td>
                    <td><input type="text" class="form-control" ng-model="evaluation.poids"  ng-change="majPoid()"></td>
                  </div></td> 
                </tr>
                <tr>
    <td colspan="5" class="text-center">Somme de poids: {{total}} % </td>
  </tr>
              </tbody>
            </table>

          </div>
        </div>
        
        <div class="alert alert-danger col-md-offset-1 col-md-10 " role="alert" ng-show="error">la somme des poids  doit être egale 100% !</div>
        <div class="clearfix"></div>
        
        <div class="modal-footer">

          <button type="button" class="btn btn-info" id="nextbtn" ng-click="MAJBap()">Confirmer</button>
          <button type="button" class="btn btn-default"  ng-click="modalDissmiss()" data-dismiss="modal">fermer</button>

        </div>
        
      </div>
      
    </div>
  </div>
</div>

<!-- valider Bap Modal -->

<div class="modal fade bs-example-modal-lg" id="BapModal"  data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div id="step1_1">
        <div class="modal-header">
          <button type="button" class="close" ng-click="modalDissmiss()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Feedback du collaborateur </h4>
          
          <div class="scrollable">
            

          </div>
        </div>
        <div class="modal-body">
          <div class="modal-footer">
            <button type="button" class="btn btn-info" id="nextbtn" ng-click="nextStep()">Suivant</button>
            <button type="button" class="btn btn-default"  ng-click="modalDissmiss()" data-dismiss="modal">fermer</button>

          </div>
        </div>
        
      </div>
      <div id="step1_2">
        <div class="modal-header">
          <button type="button" class="close" ng-click="modalDissmiss()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Rédaction des nouveaux Objectifs :</h4>
        </div>
        
        <div class="modal-body">



          <div>
           <h5>{{bapToValidate.collaborateur.nom}} {{bapToValidate.collaborateurBap.prenom}} :</h5>
           <table class="table  table-bordered  table-striped" >
            <thead>
              <tr>
                <th>Description</th>
                <th>Mesure</th>
                <th>Avancement</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control" ng-model="newobjectif.descriptionObjectif"></td>
                <td><input type="text" class="form-control" ng-model="newobjectif.mesureObjectif"></td>
                <td><input type="text" class="form-control" ng-model="newobjectif.avancementObjectif"></td>
                <td><button class="btn btn-info" ng-click="addObjectif()">ajouter</button></td>
              </tr>
              <tr   ng-repeat="objectif in bapToValidate.ficheObjectifsRediges.objectifs">


                <td >{{objectif.descriptionObjectif}}</td> 
                <td >{{objectif.mesureObjectif}}</td> 
                <td ><div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{objectif.avancementObjectif}}" aria-valuemin="0" aria-valuemax="100" style="width: {{objectif.avancementObjectif}}%;">
                    {{objectif.avancementObjectif}}%
                  </div>
                </div></td> 
                <td>
                  <div  id="objectif{{objectif.id}}">
                    <button class="btn btn-sm btn-info" ng-click="">Modifier</button>
                    <button class="btn btn-sm btn-danger" ng-click="supprimerObjectif($index)">Supprimer</button>
                  </div>
                </td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="nextbtn" ng-click="nextStep()">Suivant</button>
        <button type="button" class="btn btn-default"  ng-click="modalDissmiss()" data-dismiss="modal">fermer</button>

      </div>
    </div>

    <div id="step1_3">
      <div class="modal-header">
        <button type="button" class="close" ng-click="modalDissmiss()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Validation du Bap :</h4>
      </div>

      <div class="modal-body">




        <h3>Validation du Bap pour le Collaborateur {{bapToValidate.collaborateur.nom}} {{bapToValidate.collaborateur.prenom}} </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="nextbtn" ng-click="ValiderBap()">Valider</button>
        <button type="button" class="btn btn-default"  ng-click="modalDissmiss()" data-dismiss="modal">fermer</button>

      </div>
    </div>
  </div>
</div>
</div>